# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment
.env

# Database
*.db
*.sqlite3

# Uploads
backend/app/uploads/

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db